/* DESKTOP */
@media screen and (min-width: 1024px) {
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) { 
    header {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }
    .barre-de-recherche-bouton {
        display: none;
    }
    .barre-de-recherche-bouton-dt {
        display: block;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 15px;
        padding-bottom: 0;
        padding-top: 0;
    }
    .barre-de-recherche-input {
        width: 25%;
    }

    .fa-search:hover {
        transform: scale(1.1);
        transition: 0.1s;
        cursor: pointer;
    }

    .fa-search{
        color:white;
    }

    .div1 {
        display: flex;
        flex-direction: column;
    }

    .box-hebergements {
        width: 40%;
    }
    .flex-align-content-around {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block-heberg {
        order: 2;
    }
    .block-pop {
        order: 1;
    }
    .imgwidth {
        text-align: left;
        width: 100%;
        padding-bottom: 0;
    }
    .nav-sinscrire {
        margin-right: 20px;
        order: 2;
        text-align: right;
        padding-bottom: 0;
    }
    .nav-heberg {
        order: 1;
        text-align: center;
        border-top-style: none;
        border-bottom-style: solid;
        border-bottom-color: #0065FC;
    }
    .nav-activites {
        order: 3;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-color: #bbbbbb;
    }
}
/* MOBILE */
@media screen and (max-width: 767px) {
    header {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }

    .flex-align-content-around {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .div1 {
        display: flex;
        flex-direction: column;
    }
    .block-heberg {
        order: 2;
        background-color: white;
    }
    .block-section-hebergements {
        justify-content: center;
    }
    .ligne-texte-populaires {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .activities {
        display: flex;
        flex-direction: column;
    }
    .responsive-act {
        height: 250px;
        min-width: 0px;
        min-height: 0px;
    }
    .top-box-first-column,
    .top-box-second-column {
        margin-bottom: 20px;
    }
    .box-hebergements {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .block-pop,
    .block-heberg {
        padding: 0px;
    }

    .afficherplus {
        margin-top: 20px;
    }
    .div1 {
        margin: 0px;
    }
    .block-pop {
        margin: 0px;
    }
    .block-pop {
        order: 1;
        border-radius: 0;
    }
    footer {
        flex-direction: column;
    }
    .imgwidth {
        text-align: left;
        width: 100%;
        padding-bottom: 0;
    }
    .nav-sinscrire {
        order: 2;
        margin-right: 20px;
        text-align: right;
        padding-bottom: 0;
    }
    .nav-heberg {
        order: 1;
        text-align: center;
        border-top-style: none;
        border-bottom-style: solid;
        border-bottom-color: #0065FC;
    }
    .nav-activites {
        order: 3;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-color: #bbbbbb;
    }
    .barre-de-recherche-bouton {
        display: none;
    }
    .barre-de-recherche-bouton-dt {
        display: block;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 15px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .fa-search:hover {
        transform: scale(1.1);
        transition: 0.1s;
        cursor: pointer;
    }
    .fa-search {
        color:white;
    }

    .titre-box-populaires {
        width: initial;
    }
}